{
    "presets": [
        ["@babel/preset-env", {
            "modules": false,
            // "debug": true,
            // "useBuiltIns": 'usage',
            "targets": {
                "browsers": ["Chrome >= 30", "safari >= 9", "iOS >= 9", "ie >= 11", "ChromeAndroid >= 4", "Edge >= 12"]
            }
        }]
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", { loose: false }],
        ["@babel/plugin-proposal-optional-chaining", { loose: false }],
    ]
}