<!doctype html>
<html class="no-js" lang="{{page.lang}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{page.title}} / {{page.name}}</title>
        <meta name="description" content="{{page.desc}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%-scripts%>
        <%-stylesheets%>
    </head>
    <body class="{{page.route}}">

        <main>
            <%-body-%>
        </main>
    </body>
</html>
