<header class="header">
	<div class="header__container">
		<div class="hamburger hamburger--arrow js-hamburger header__hamburger">
			<div class="hamburger-box">
				<div class="hamburger-inner"></div>
			</div>
		</div>
		<div class="header__logo">
			<a href="#" class="header__logo-link">
				<img class="header__logo-img" src="src/images/logo.png" alt="Logo">
			</a>
		</div>
		<div class="header__cart">
			<a href="#" class="header__cart-link">
				<img class="header__cart-icon" src="src/images/sprites/svg/cart.svg" alt="">
				<span class="header__cart-amount"><%= minicart.amount %></span>
			</a>
		</div>
	</div>
</header>
