<section class="login">
    <h1 class="login__title">Login</h1>
    <form class="login__form" action="/user/login" method="post">
        <input class="login__email" type="email" name="email" placeholder="E-mail">
        <input class="login__password" type="password" name="password" placeholder="Password">
        <button class="login__send">Login</button>
    </form>
</section>