<section class="signup">
    <h1 class="signup__title">Register</h1>
    <form class="signup__form" action="/user/signup" method="post">
        <input class="signup__email" type="email" name="email" placeholder="Email">
        <input class="signup__password" type="password" name="password" placeholder="Password">
        <button class="signup__send">Signup</button>
    </form>
</section>